Requirements:
---SymPy == 1.8

The only dependency this program has is on SymPy library. 
Sympy is used here to convert math function in string form into a solvable function and to take the approximate integral of that function.